body {
    font-family: 'Open Sans', Raleway, Lato, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*--------------------NAVBAR SECTION--------------------*/
#nav {
    top: 0;
    position: fixed;
    background: #6BD6C6;
    width: 100%;

}

#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav li {
    list-style: none;
    margin: 0 55px 0 55px;

}

#nav a {
    text-decoration: none;
    color: #EF743F;
    text-shadow: 1px 1px #626192;
    transition: 0.3s;
    padding: 5px;
}

#nav a:hover {
    background: #626192;
    color: #FF8080;
}

/*--------------------INTRODUCTION SECTION--------------------*/
.introduction {
    top: 0;
    min-height: 55vh;
    padding-top: 45vh;
    background: #6BD6C6;

}

section h1 {
    color: #626192;
    font-size: 2em;
}

section h1 span {
    border: 2px solid #626192;
    padding: 6px;
    background: #626192;
    color: #EF743F;
    display: inline-block;
    font-weight: 450;
    font-size: 13px;
}

/*--------------------PROJECT SECTION--------------------*/
#project-section h2 {
    display: inline-block;
    margin-top: 50px;
    color: #008080;
    padding: 5px;
    font-weight: 600;
}

/*---------------PROJECT CARD--------------*/
.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    border: 1px solid;
    background-color: #E0EBE8;
    box-shadow: 4px 5px #05396B;
    color: #61CCBB;
    padding: 10px;
    margin: 45px 140px;
    box-shadow: 0 4px 8px 0 rgba(5, 57, 107, 0.5);
    transition: 0.3s;
}

.card p {
    color: #EF743F;
    text-shadow: 1px 1px #626192;
}

.card p {
    animation-name: p-hover;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(5, 57, 107, 0.5);
}

.card img {
    width: 240px;
    height: 230px;
    object-fit: cover;
}

.card a {
    text-decoration: none;
}

/*---------------PROJECT BUTTON--------------*/
.show-all {
    margin-top: 80px;
    margin-bottom: 120px;
}

.show-all button {
    cursor: pointer;
    text-transform: uppercase;
    background: #E4F1FE;
    color: #EF743F;
    text-shadow: 0px 1px #57BB99;
    border: 3px solid #808080;
    font-size: 15px;
    padding: 10px 30px 10px 30px;
    transition: 0.3s;
}

.show-all button:hover {
    background-color: #626192;
}


/*--------------------CONTACT SECTION--------------------*/
.contact {
    background: #EE8051;
    padding-bottom: 80px;
}

.contact .header {
    color: #626192;
    padding: 160px 0 120px;
    line-height: 0.4;
}

/*---------------CONTACT chip--------------*/

.chip-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #EEEBE2;
    box-shadow: 2px 5px #484983;
    border: 3px solid #C8F7C5;
    box-shadow: 0 4px 8px 0 rgba(5, 57, 107, 0.5);
    margin: 0 45px;
}

.chip span {
    display: inline-block;
    color: #484983;
}


.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chip :hover > img {
    animation-name: chip-shadow;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes chip-shadow {
    100% {
        box-shadow: 0 4px 8px 0 rgba(5, 57, 107, 0.5);
    }
}


footer {
    padding: 20px;
    background: #484983;
    color: #EE8051;
    line-height: 45px;
    text-shadow: 1px 1px #808080;
}

footer a {
    color: #EE8051;
    text-decoration-color: lightgray;
}


@media screen and (max-width: 500px) {
    #nav ul {
        justify-content: center;
    }

    #nav li {
        margin: 0 45px 0 5px;
    }

    .introduction {
        padding-bottom: 20px;
    }

    .card {
        margin: 40px 0;
    }

    .contact .header {
        line-height: 1;
    }

    .chip {
        margin: 20px 20px;
    }
}
